.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 2.2rem;
  width: 100%;
  background-color: var(--bg-color);
}

.no-scroll {
  overflow: hidden;
}

.contact-data {
  display: flex;
}

.contact-data > a {
  text-decoration: none;
  color: var(--title-color);
}

.mail, .phone-number, .map-text {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin: 0 2rem;
  color: var(--title-color);

}

.mail > span, 
.phone-number > span, 
.map-text > span {
  font-size: 1.2rem;
  margin-right: 0.5rem;
  color: #264070;
}

.navbar {
  width: 100%;
  height: 4rem;
  padding: 1.5rem 6%;
  background-color: var(--secound-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  z-index: 1002;
}

.navbar.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
  animation: slideDown 0.3s ease-in-out;
}

@keyframes slideDown {
  from {
    top: -4rem;
  }
  to {
    top: 0;
  }
}

.logo > img {
  width: 8.75rem;
  height: 5rem;
  font-weight: 600;
  cursor: pointer;
}

.nav-links a {
  margin-left: 2.5rem;
  text-decoration: none;
  color: var(--title-color);
  font-size: 1.2rem;
  cursor: pointer;
  transition: color 0.3s, transform 0.3s;
}

.nav-links a:hover {
  color: var(--content-color);
  transform: scale(1.1);
}

.nav-links a.active {
  text-decoration: none;
  color: var(--content-color);
}

.navbar > .new-toggle {
  display: none;
}

/* Մոբայլ տարբերակ */
@media (max-width: 1180px) {
  .info {
    display: none;
  }

  .logo > img {
    width: 6.25rem;
    height: 3.125rem;
  }

  .nav-links {
    padding: 2rem;
  }

  .nav-links a {
    margin-top: 3rem;
    margin-left: 0;
    color: var(--bg-color);
  }

  .navbar > .nav-links {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--secound-bg-color);
    width: 70%;
    height: 100%;
    transform: translateX(-100%);
    transition: transform 0.45s ease-in-out;
    text-align: center;
    padding: 9% 0;
    z-index: 10;
  }

  .navbar > .nav-links.open {
    transform: translateX(0);
  }

  .navbar > .new-toggle {
    display: flex;
    width: 3.125rem;
    height: 3.125rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 11;
    font-size: 1.5rem;
    color: white;
  }

  .navbar .nav-links .close-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: var(--bg-color);
    cursor: pointer;
    z-index: 12;
  }
}
