.projects-img {
    background: url(../../assets/images/bg-img.jpg) no-repeat center/cover;
    filter: brightness(0.9);
    width: 100%;
    height: 30vh;
    position: relative;
}

.projects-img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.projects-text {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    color: var(--secondary-color);
    text-align: left;
    z-index: 1;
}

.projects-text h1 {
    font-size: 3rem;
    margin: 0;
    color: var(--title-color);
}

.projects-text h6 {
    font-size: 1rem;
    margin: 1rem 0;
    color: var(--content-color);
}

.projects-text h6 :hover {
    cursor: pointer;
}

.projects-text span {
    color: var(--title-color);
}

@media (max-width: 520px) {
    .projects-text h1{
        font-size: 1.5rem;
    }
}
